.myTeam {
  width: 100%;
}

.new__class {
  text-align: center;
  list-style: none;
}

.contacts {
  margin: 0 auto;
}

.contacts__info {
  font-size: 20px;
  padding-top: 20px;
  // margin-bottom: 20px;
}

.contacts__info--last {
  height: 20px;
}
